name: Import label to database

on:
  push:
    branches: [ master ]

jobs:
  import-label-to-database:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm install
      - env:
          CLICKHOUSE_URL: ${{ secrets.CLICKHOUSE_URL }}
          CLICKHOUSE_USERNAME: ${{ secrets.CLICKHOUSE_USERNAME }}
          CLICKHOUSE_PASSWORD: ${{ secrets.CLICKHOUSE_PASSWORD }}
        run: npm run import-label-to-database